[phases.setup]
nixPkgs = ["gradle"]

[variables]
JAVA_VERSION = "21"

[phases.build]
cmds = [
  "curl -s \"https://get.sdkman.io\" | bash",
  "source \"$HOME/.sdkman/bin/sdkman-init.sh\"",
  "sdk install java 21.0.2-open",
  "sdk use java 21.0.2-open",
  "java -version",
  "gradle --version",
  "gradle clean build -x test --no-daemon --no-build-cache"
]

[start]
cmd = "java $JAVA_OPTS -jar fineract-provider/build/libs/fineract-provider-*.jar --server.port=$PORT"
