[phases.setup]
nixPkgs = ["gradle", "openjdk21"]

[variables]
JAVA_HOME = "/nix/store/884fbn646q1crxlqf805m7qzj8fgbd76-openjdk-21+35"

[phases.build]
cmds = [
  "gradle clean build -x test --no-daemon"
]

[start]
cmd = "java $JAVA_OPTS -jar fineract-provider/build/libs/fineract-provider-*.jar --server.port=$PORT"
